.promotions-title {
  font-family: Mulish;
  font-style: normal;
  font-weight: 800;
  font-size: 150px;
  line-height: 188px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  //--black: #000000;
  //color: white;
  //-webkit-text-stroke: 3px var(--black);
}
